.nav-link{


    color: white !important;
}


* {
    color: black;
}

.d-block{
    
  align-items: center;
  align-self: center;

}

.Carsouel {

    color: rgb(19, 68, 68) !important;
}